<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>CooltonPopular</title>
    <link href="cPopularstyle.css" rel="stylesheet" type="text/css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js">
  	</script>
    <script src="https://use.fontawesome.com/releases/v5.2.0/js/all.js">
	  </script>
  </head>
  <body>
    <div id="header"> 
      <div class="title">
		    <a onclick="location.href='home'">Warm&Cool</a>
	    </div>
      
      <div class="nav">
		    <nav class="info-icon">
          <a onclick="location.href='info'"><i class="fas fa-user-friends fa-lg" style="color:black"></i></a>
        </nav> 
        <nav class="alarm-icon">
          <a onclick="location.href='intro1'"><i class="far fa-comment-alt fa-lg" style="color:black"></i></a>
        </nav>
      </div>
    </div> 

    <div id="category"> 
      <center>
      <div class="ton_box">
        <div class="warm">
          <B>쿨톤</B>
        </div>
        <div class="memNum">
          
        </div>
        users
      </div>
        <ul> 
          <div class="ctg">
            <div class="feed">
              <i class="fas fa-lightbulb"></i>
              <a onclick="location.href='coolFeed'"><B>Feed</B></a><B><br><br>
            </div>
            <div class="popular">
              <i class="fas fa-thumbs-up"></i>
              <a onclick="location.href='coolPopular'" style="color:rgb(0, 60, 255)"><B>Popular</a><br><br>
            </div>
            <div class="media">
              <i class="fas fa-images"></i>
              <a onclick="location.href='coolMedia'"><B>Media</a><br><br>
            </div>
            <div class="ootd">
              <i class="fas fa-tshirt"></i>
              <a onclick="location.href='coolOotd'"><B>OOTD</a>
            </div>
          </div>
       </ul>
    </center> 
    </div> 

    <div id="post"> 
      <div class="popularpost">
        <B>인기글</B>
      </div>
      <center>
      <div class="post1">
        <div class="postInfo">
          <i class="fas fa-user"></i>&nbsp
          <div class="info2">
            회원아이디<br>
            게시일
          </div>
        </div>
        <div class="content">
          게시글
        </div>
        <hr class="line">
        <div class="icon">
          <div class="thumb">
            <i class="fas fa-thumbs-up"></i>
          </div>
          <div class="comment">
            <i class="fas fa-comments"></i>
          </div>
        </div>
        <hr class="line">
        <div class="commentInfo">
          <i class="fas fa-user"></i>&nbsp
          <div class="commentID">
            아이디
          </div>
          <div class="commentCTT">
            댓글 내용
          </div>
        </div>
        <br>
        <div class="commentInfo">
          <i class="fas fa-user"></i>&nbsp
          <div class="commentID">
            아이디
          </div>
          <div class="commentCTT">
            댓글 내용
          </div>
        </div>
        <br>
        <div class="commentInfo">
          <i class="fas fa-user"></i>&nbsp
          <div class="commentID">
            아이디
          </div>
          <div class="commentCTT">
            댓글 내용
          </div>
        </div>
      </div>
      <br><br>

      <div class="post2">
        <div class="postInfo">
          <i class="fas fa-user"></i>&nbsp
          <div class="info2">
            회원아이디<br>
            게시일
          </div>
        </div>
        <div class="content">
          게시글
        </div>
        <hr class="line">
        <div class="icon">
          <div class="thumb">
            <i class="fas fa-thumbs-up"></i>
          </div>
          <div class="comment">
            <i class="fas fa-comments"></i>
          </div>
        </div>
        <hr class="line">
        <div class="commentInfo">
          <i class="fas fa-user"></i>&nbsp
          <div class="commentID">
            아이디
          </div>
          <div class="commentCTT">
            댓글 내용
          </div>
        </div>
        <br>
        <div class="commentInfo">
          <i class="fas fa-user"></i>&nbsp
          <div class="commentID">
            아이디
          </div>
          <div class="commentCTT">
            댓글 내용
          </div>
        </div>
        <br>
        <div class="commentInfo">
          <i class="fas fa-user"></i>&nbsp
          <div class="commentID">
            아이디
          </div>
          <div class="commentCTT">
            댓글 내용
          </div>
        </div>
      </div>
    </center> 
    </div> 

    <div id="info"> 
      <center>
         <div class="info_box2">
          My Personal Color is...<br>
          <div class="color">
            <B>Cool</B>
          </div>
        </div>

        <div class="policy">
        <br>개인정보처리방침&nbsp&nbsp이용약관<br>
        서비스운영정책&nbsp
        <a onclick="location.href='intro1'" >퍼스널컬러소개</a><br><br>
        </div>

        <div class="inc_box">
          © WarmNCool COMPANY Inc.
        </div>
        <br>
        <div class="shopping_box">
          <b>가장 먼저 만나는 나만의 쇼핑</b><br><br>
          <a onclick="location.href='coolOotd'"><i class="fas fa-cart-plus fa-3x"></i></a>
        </div>
      </center>
    </div> 

    <script src="cPopularscript.js"></script>
  </body>
</html>