<!DOCTYPE html> 
<html> 
  <head> 
    <meta charset="utf-8">
	  <meta name="viewport" content="width=device-width">
	  <title>myInfo</title>
	  <link href="frame3_wOotdstyle.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css">
	  <script src="https://use.fontawesome.com/releases/v5.2.0/js/all.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  </head>
  <body> 
    <center>
      <section class="gallery">
	<div class="container">
		<div class="row">
			<div class="gallery-filter">
				<span class="filter-item active" data-filter="all">all</span>			
        <span class="filter-item" data-filter="makeup">makeup</span>
				<span class="filter-item" data-filter="clothes">clothes</span>
        <span class="filter-item" data-filter="perfume">perfume</span>
			</div>
		</div>

		<div class="row">

			<!-- gallery item start -->
			<div class="gallery-item makeup">
				<div class="gallery-item-inner">
					<a href="https://www.shuuemura.co.kr/web/product/view?seq=158&CATE_CD1=A02001&CATE_CD2=A02001003" target="_blank"><img src="ww1.jpg" alt="makeup"></a>
				</div>
			</div>
			<!-- gallery item end -->

			<!-- gallery item start -->
			<div class="gallery-item clothes">
				<div class="gallery-item-inner">
					<a href="https://mixxo.elandmall.com/goods/initGoodsDetail.action?goods_no=2003169315&vir_vend_no=VV16001901&sale_shop_divi_cd=11&disp_ctg_no=&sale_area_no=D1606000566&tr_yn=N&conts_dist_no=2003169315&conts_divi_cd=20&rel_no=2003169315&rel_divi_cd=10&brand_nm=%EB%AF%B8%EC%8F%98&goods_nm=%EC%93%B0%EB%A6%AC%EB%B2%84%ED%8A%BC+%ED%85%8C%EC%9D%BC%EB%9F%AC%EB%93%9C+%EC%8B%B1%EA%B8%80+%EC%9E%90%EC%BC%93+WJKA461G&cust_sale_price=69900&ga_ctg_nm=OUTER&dlp_list=&dlp_category=CLOTHING%2FALL" target="blank"><img src="ww2.jpg" alt="clothes"></a>
				</div>
			</div>
			<!-- gallery item end -->

			<!-- gallery item start -->
			<div class="gallery-item perfume">
				<div class="gallery-item-inner">
					<a href="https://www.chanel.com/ko_KR/fragrance-beauty/fragrance/p/women/coco-mademoiselle.html" target="_blank"><img src="ww3.jpg" alt="perfume"></a>
				</div>
			</div>
			<!-- gallery item end -->

			<!-- gallery item start -->
			<div class="gallery-item clothes">
				<div class="gallery-item-inner">
					<a href="https://display.cjonstyle.com/p/item/70177366" target="_blank"><img src="ww4.jpg" alt="clothes"></a>
				</div>
			</div>
			<!-- gallery item end -->

			<!-- gallery item start -->
			<div class="gallery-item clothes">
				<div class="gallery-item-inner">
					<a href="https://display.cjonstyle.com/p/item/73020916" target="_blank"><img src="ww5.jpg" alt="clothes"></a>
				</div>
			</div>
			<!-- gallery item end -->
      
			<!-- gallery item start -->
			<div class="gallery-item makeup">
				<div class="gallery-item-inner">
					<a href="http://prod.danawa.com/info/?pcode=3070011" target="_blank"><img src="ww6.jpg" alt="makeup"></a>
				</div>
			</div>
			<!-- gallery item end -->

      <!-- gallery item start -->
			<div class="gallery-item clothes">
				<div class="gallery-item-inner">
					<a href="https://display.cjonstyle.com/p/item/72168247" target="_blank"><img src="ww7.jpg" alt="clothes"></a>
				</div>
			</div>
			<!-- gallery item end -->

      <!-- gallery item start -->
			<div class="gallery-item perfume">
				<div class="gallery-item-inner">
					<a href="https://www.dior.com/ko_kr/products/beauty-Y0715201-%E1%84%8C%E1%85%A3%E1%84%83%E1%85%A9%E1%84%85%E1%85%B3-%E1%84%8B%E1%85%A9-%E1%84%83%E1%85%B3-%E1%84%91%E1%85%A5%E1%84%91%E1%85%B2%E1%86%B7" target="_blank"><img src="ww8.jpg" alt="perfume"></a>
				</div>
			</div>
			<!-- gallery item end -->

      <!-- gallery item start -->
			<div class="gallery-item makeup">
				<div class="gallery-item-inner">
					<a href="https://www.etude.com/kr/ko/product/detail?onlineProdSn=4721" target="_blank"><img src="ww9.jpg" alt="makeup"></a>
				</div>
			</div>
			<!-- gallery item end -->

      <!-- gallery item start -->
			<div class="gallery-item clothes">
				<div class="gallery-item-inner">
					<a href="http://shopping.interpark.com/product/productInfo.do?prdNo=7092152329" target="_blank"><img src="ww10.jpg" alt="clothes"></a>
				</div>
			</div>
			<!-- gallery item end -->

      <!-- gallery item start -->
			<div class="gallery-item perfume">
				<div class="gallery-item-inner">
					<a href="https://www.yslbeautykr.com/ko_KR/fragrance/mon_paris_edp/WW-41800YSL.html" target="_blank"><img src="ww11.png" alt="perfume"></a>
				</div>
			</div>
			<!-- gallery item end -->

      <!-- gallery item start -->
			<div class="gallery-item clothes">
				<div class="gallery-item-inner">
					<a href="http://ssomedays.com/product/%EC%97%90%EC%8A%A4%ED%8C%8C-%ED%94%8C%EB%A1%9C%EB%9F%B4-%ED%8A%B8%EC%9E%84-%EC%9B%90%ED%94%BC%EC%8A%A4-2color/6506/category/47/display/1/" target="_blank"><img src="ww12.jpg" alt="clothes"></a>
				</div>
			</div>
			<!-- gallery item end -->

      <!-- gallery item start -->
			<div class="gallery-item makeup">
				<div class="gallery-item-inner">
					<a href="https://www.coupang.com/vp/products/5171678973?itemId=7136479670&vendorItemId=74428239263&src=1042503&spec=10304982&addtag=400&ctag=5171678973&lptag=10304982I7136479670&itime=20210531081136&pageType=PRODUCT&pageValue=5171678973&wPcid=22410912786258123310919&wRef=&wTime=20210531081136&redirect=landing&gclid=&isAddedCart=" target="_blank"><img src="ww13.png" alt="makeup"></a>
				</div>
			</div>
			<!-- gallery item end -->

      <!-- gallery item start -->
			<div class="gallery-item clothes">
				<div class="gallery-item-inner">
					<a href="https://www.sivillage.com/goods/initDetailGoods.siv?goods_no=2104358444&tr_yn=&conts_form_cd=100&rel_no=2104358444&rel_divi_cd=10&disp_ctg_no=&infwproductNo=01P0000201478" target="_blank"><img src="ww14.jpg" alt="clothes"></a>
				</div>
			</div>
			<!-- gallery item end -->
      
      <!-- gallery item start -->
			<div class="gallery-item perfume">
				<div class="gallery-item-inner">
					<a href="http://perfumegraphy.com/product/%EC%97%90%EB%A5%B4%EB%A9%94%EC%8A%A4-%ED%8A%B8%EC%9C%8C%EB%A6%AC-%EC%98%A4-%EB%93%9C-%ED%8D%BC%ED%93%B8-30ml/1646/" target="_blank"><img src="ww15.jpg" alt="perfume"></a>
				</div>
			</div>
			<!-- gallery item end -->
		</div>
	</div>
</section>

<script src="wOotdscript.js"></script>
    </center>
  </body> 
</html>