<!DOCTYPE html> 
<html> 
  <head> 
    <meta charset="utf-8">
	  <meta name="viewport" content="width=device-width">
	  <title>myInfo</title>
	  <link href="frame3_cOotdstyle.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css">
	  <script src="https://use.fontawesome.com/releases/v5.2.0/js/all.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  </head>
  <body> 
    <center>
      <section class="gallery">
	<div class="container">
		<div class="row">
			<div class="gallery-filter">
				<span class="filter-item active" data-filter="all">all</span>			
        <span class="filter-item" data-filter="makeup">makeup</span>
				<span class="filter-item" data-filter="clothes">clothes</span>
        <span class="filter-item" data-filter="perfume">perfume</span>
			</div>
		</div>

		<div class="row">

			<!-- gallery item start -->
			<div class="gallery-item makeup">
				<div class="gallery-item-inner">
					<a href="https://www.chanel.com/ko_KR/fragrance-beauty/makeup/p/lips/lipsticks/rouge-allure-luminous-intense-lip-colour-p160110.html#skuid-0160102" target="_blank"><img src="./image/cc1.jpg" alt="makeup"></a>
				</div>
			</div>
			<!-- gallery item end -->

			<!-- gallery item start -->
			<div class="gallery-item clothes">
				<div class="gallery-item-inner">
					<a href="http://shop.johnnyhatesjazz.co.kr/product/wide-collar-binding-coat-grey/1149/" target="blank"><img src="./image/cc2.jpg" alt="clothes"></a>
				</div>
			</div>
			<!-- gallery item end -->

			<!-- gallery item start -->
			<div class="gallery-item perfume">
				<div class="gallery-item-inner">
					<a href="https://store.musinsa.com/app/goods/817563" target="_blank"><img src="./image/cc3.jpg" alt="perfume"></a>
				</div>
			</div>
			<!-- gallery item end -->

			<!-- gallery item start -->
			<div class="gallery-item clothes">
				<div class="gallery-item-inner">
					<a href="https://www.hmall.com/p/pda/itemPtc.do?NEW_JSESSIONID=7hPAIKlEYz-bvRhFFRu3AohOGGsvEZGxCNyTaSFKJVSAcgFtzldF!841309927&slitmCd=2109013525&ReferCode=932&tcCode=0000001306|0000000000" target="_blank"><img src="./image/cc4.jpg" alt="clothes"></a>
				</div>
			</div>
			<!-- gallery item end -->

			<!-- gallery item start -->
			<div class="gallery-item clothes">
				<div class="gallery-item-inner">
					<a href="https://likeher.kr/product/%EC%BD%94%EC%A6%88-%EB%8D%B0%EC%9D%BC%EB%A6%AC%EC%9B%90%ED%94%BC%EC%8A%A4ops/10027/category/37/display/1/" target="_blank"><img src="./image/cc5.jpg" alt="clothes"></a>
				</div>
			</div>
			<!-- gallery item end -->
      
			<!-- gallery item start -->
			<div class="gallery-item makeup">
				<div class="gallery-item-inner">
					<a href="http://waso.co.kr/goods/view?no=79405" target="_blank"><img src="./image/cc6.jpg" alt="makeup"></a>
				</div>
			</div>
			<!-- gallery item end -->

      <!-- gallery item start -->
			<div class="gallery-item clothes">
				<div class="gallery-item-inner">
					<a href="http://itempage3.auction.co.kr/DetailView.aspx?itemno=B525824757" target="_blank"><img src="./image/cc7.jpg" alt="clothes"></a>
				</div>
			</div>
			<!-- gallery item end -->

      <!-- gallery item start -->
			<div class="gallery-item perfume">
				<div class="gallery-item-inner">
					<a href="https://www.coupang.com/vp/products/306557947?itemId=966517428&vendorItemId=5372308140&q=%ED%81%B4%EB%A6%B0+%EC%96%BC%ED%8B%B0%EB%A9%94%EC%9D%B4%ED%8A%B8&itemsCount=36&searchId=4837ce43542e4655b8dc9a5d07b3144e&rank=1&isAddedCart=" target="_blank"><img src="./image/cc8.jpg" alt="perfume"></a>
				</div>
			</div>
			<!-- gallery item end -->

      <!-- gallery item start -->
			<div class="gallery-item makeup">
				<div class="gallery-item-inner">
					<a href="http://romand.co.kr/product/%EB%A1%AC%EC%95%A4-%EC%A0%9C%EB%A1%9C-%EB%B2%A8%EB%B2%B3-%ED%8B%B4%ED%8A%B8-%EC%98%A4%EB%A6%AC%EC%A7%80%EB%84%90%EC%8B%9C%EB%A6%AC%EC%A6%88/120/" target="_blank"><img src="./image/cc9.jpg" alt="makeup"></a>
				</div>
			</div>
			<!-- gallery item end -->

      <!-- gallery item start -->
			<div class="gallery-item clothes">
				<div class="gallery-item-inner">
					<a href="http://www.11st.co.kr/products/2402267248" target="_blank"><img src="./image/cc10.jpg" alt="clothes"></a>
				</div>
			</div>
			<!-- gallery item end -->

      <!-- gallery item start -->
			<div class="gallery-item perfume">
				<div class="gallery-item-inner">
					<a href="https://www.coupang.com/vp/products/285516608?itemId=905675812&vendorItemId=72942401427&q=%EC%A1%B0%EB%A7%90%EB%A1%A0+%EC%98%A4%EB%A0%8C%EC%A7%80%EB%B8%94%EB%9D%BC%EC%8D%B8&itemsCount=36&searchId=eeadcc0212fc43528db86d9c8ec3069a&rank=1&isAddedCart=" target="_blank"><img src="./image/cc11.jpg" alt="perfume"></a>
				</div>
			</div>
			<!-- gallery item end -->

      <!-- gallery item start -->
			<div class="gallery-item clothes">
				<div class="gallery-item-inner">
					<a href="https://www.coupang.com/vp/products/2128513104?itemId=3612705473&vendorItemId=71591175330&src=1139000&spec=10799999&addtag=400&ctag=2128513104&lptag=AF5343602&itime=20210531113618&pageType=PRODUCT&pageValue=2128513104&wPcid=22410912786258123310919&wRef=inplaying.co.kr&wTime=20210531113618&redirect=landing&traceid=V0-153-d8f2261664df28cd&placementid=&clickBeacon=&campaignid=&contentcategory=&imgsize=&pageid=&deviceid=&contenttype=&subid=funcoupang&impressionid=&campaigntype=&contentkeyword=&subparam=" target="_blank"><img src="./image/cc12.jpg" alt="clothes"></a>
				</div>
			</div>
			<!-- gallery item end -->


      <!-- gallery item start -->
			<div class="gallery-item makeup">
				<div class="gallery-item-inner">
					<a href="https://www.yslbeautykr.com/ko_KR/makeup/lip/vernis_a_levres_water_stain/WW-50357YSL.html" target="_blank"><img src="./image/cc13.jpg" alt="makeup"></a>
				</div>
			</div>
			<!-- gallery item end -->
      
      <!-- gallery item start -->
			<div class="gallery-item perfume">
				<div class="gallery-item-inner">
					<a href="https://www.bulgari.com/ko-kr/41565.html" target="_blank"><img src="./image/cc14.jpg" alt="perfume"></a>
				</div>
			</div>
			<!-- gallery item end -->
		</div>
	</div>
</section>

<script src="cOotdscript.js"></script>
    </center>
  </body> 
</html>