<!DOCTYPE html> 
<html> 
  <head> 
    <meta charset="utf-8">
	  <meta name="viewport" content="width=device-width">
	  <title>myInfo</title>
	  <link href="frame2_cOotdstyle.css" rel="stylesheet" type="text/css" />
	  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js">
  	</script>
	  <script src="https://use.fontawesome.com/releases/v5.2.0/js/all.js">
	  </script>
	  <script src="cOotdscript.js">
    </script>
  </head>
  <body> 
    <center>
      <div class="ton_box">
        <div class="color">
          <B>쿨톤</B>
        </div>
        <div class="memNum">
          
        </div>
        users
      </div>
        <ul> 
          <div class="feed">
            <i class="fas fa-lightbulb"></i>
            <a href=""><B>Feed</B></a><B><br><br>
          </div>
          <div class="popular">
            <i class="fas fa-thumbs-up"></i>
            <a href=""><B>Popular</a><br><br>
          </div>
          <div class="media">
            <i class="fas fa-images"></i>
            <a href=""><B>Media</a><br><br>
          </div>
          <div class="ootd">
            <i class="fas fa-tshirt"></i>
            <a href="" style="color:rgb(0, 60, 255)"><B>OOTD</a>
          </div>
       </ul>
    </center>
  </body> 
</html>