<!DOCTYPE html> 
<html> 
  <head> 
    <meta charset="utf-8">
	  <meta name="viewport" content="width=device-width">
	  <title>myInfo</title>
	  <link href="frame3_cMediastyle.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css">
	  <script src="https://use.fontawesome.com/releases/v5.2.0/js/all.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>
    <script src="cMediascript.js"></script>
  </head>
  <body> 
    <center>
      <div class="gallery-section">
      <div class="inner-width">
        <h1>Gallery</h1>
        <div class="border"></div>
        <div class="gallery">

          <a href="./image/c1.jpg" class="image">
            <img src="./image/c1.jpg" alt="">
          </a>

          <a href="./image/c2.png" class="image">
            <img src="./image/c2.png" alt="">
          </a>

          <a href="./image/c3.png" class="image">
            <img src="./image/c3.png" alt="">
          </a>

          <a href="./image/c4.png" class="image">
            <img src="./image/c4.png" alt="">
          </a>

          <a href="./image/c5.png" class="image">
            <img src="./image/c5.png" alt="">
          </a>

          <a href="./image/c6.jpg" class="image">
            <img src="./image/c6.jpg" alt="">
          </a>
        </div>
      </div>
    </div>
    <script>
    $(".gallery").magnificPopup({
      delegate: 'a',
      type: 'image',
      gallery:{
        enabled: true
      }
    });
    </script>
    </center>
  </body> 
</html>