<!DOCTYPE html>
<html lang="en">

<head>
    <!-- 기본 meta -->
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- //기본 meta -->

    <!-- stylesheet -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=PT+Serif&Asap&display=swap" rel="stylesheet" />

    <link rel="stylesheet" href="mainstyle.css" />
    <script src="ui.js"></script>

    <!-- //stylesheet -->
    <title>Warm&Cool</title>
    <title>Document</title>
</head>

<body>
    <main class="main">
        <header class="header">
            <toolbar class="header__toolbar">
                {{#result}}
                <div>{{result1}}님 안녕하세요!   </div>
                {{/result}}

                <button class="header__toolbar--button" type="submit">
                    <span class="material-icons">question_answer</span>
                    소개
                </button>
                
                {{^result}}
                <button class="header__toolbar--button" onclick="location.href='login'" type="submit">
                    <span class="material-icons">person</span>
                    로그인
                </button>
                {{/result}}
                {{#result}}
                <button class="header__toolbar--button" onclick="location.href='logout'" type="submit">
                    <span class="material-icons">person</span>
                    로그아웃
                </button>
                {{/result}}
            </toolbar>
            <gnb class="header__gnb">
            
                <button class="header__gnb--button" onclick="location.href='intro1'" type="submit">
                    퍼스널컬러?
                </button>
                
                <button class="header__gnb--button" onclick="location.href='warmFeed'" type="submit">
                    웜톤
                </button>
                
                <button class="header__gnb--button" onclick="location.href='coolFeed'" type="submit">
                    쿨톤
                </button>
                
                <button class="header__gnb--button" onclick="location.href='personal'" type="submit">
                    셀프진단
                </button>
                
                <button class="header__gnb--button" onclick="location.href='todayRecommend'" type="submit">
                    오늘의추천
                </button>
            </gnb>
        </header>
        <section class="main__content">
            <p class="main__content--title">Warm&#38;Cool</p>
            <textarea class="main__content--input" onchange={handleChange} value={value}
                placeholder="&#13;&#10;&#13;&#10;&#13;&#10;The color is messenger and message."></textarea>
        </section>
    </main>
    <footer id="footer">
        
    </footer>


</body>

</html>
