<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>introduce_2</title>
    <link href="intro2_style.css" rel="stylesheet" type="text/css" />
    <script src="https://use.fontawesome.com/releases/v5.2.0/js/all.js"></script>
    <script src="intro2_script.js"></script>
  </head>
  <body>
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <div class="title">
      <a onclick="location.href='home'">Warm&Cool</a>
    </div>    

    <nav class="nav-info1">
      <i class="far fa-comment-alt" style="color:black"></i>
      <a onclick="location.href='intro1'">소개</a>
    </nav>

    {{^result}}
    <nav class="nav-info2">
      <i class="fas fa-user-friends" style="color:black"></i> 
      <a onclick="location.href='login'" type="submit">로그인</a>
    </nav> 
    {{/result}}
    
    {{#result}}
    <nav class="nav-info2">
      <i class="fas fa-user-friends" style="color:black"></i> 
      <a onclick="location.href='info'">내 정보</a>
      <a onclick="location.href='logout'" type="submit">로그아웃</a>
    </nav> 
    {{/result}}

    <nav class="nav-items">
      <a onclick="location.href='intro1'">퍼스널컬러란?</a>
      <a onclick="location.href='warmFeed'">웜톤</a>
      <a onclick="location.href='coolFeed'">쿨톤</a>
      <a onclick="location.href='personal'">셀프진단</a>
      <a onclick="location.href='TodayRecommend'">오늘의추천</a>
    </nav>

  <section>
    <div class="color-posts">
      <div class="color">
        <img src="./image/SW_2.png" alt="" class="color-img">
        <div class="color-content">
          <h3>봄 웜톤 TIP! 파스텔 계열은 피할 것</h3>           
          <span class="spring">&nbsp;봄 웜톤은 밝고 생기발랄한 느낌, 귀여운 이미지가 특징이다.<br>색동저고리처럼 쨍한 컬러, 선명하고 밝은 톤을 잘 소화한다.</span>
        </div>
      </div>

      <div class="color">
        <img src="./image/SC_2.png" alt="" class="color-img">
        <div class="color-content">
          <h3>여름 쿨톤 TIP! 그레이를 섞어라</h3>
          <span class="summer">&nbsp;여름 쿨톤은 봄 웜톤처럼 맑고 밝은 컬러도 잘 소화하지만, 비비드한 컬러보다는 차분하고 부드러운 뮤트 톤이 더 찰떡이다.<br>너무 쨍한 컬러보단 그레이 한 방울을 톡 떨어트린 듯한 차분한 느낌의 컬러가 더 잘 어울린다.</span>
        </div>
      </div>

      <div class="color">
        <img src="./image/AW_2.png" alt="" class="color-img">
        <div class="color-content">
          <h3>가을 웜톤 TIP! 실패 없으려면, 기승전 MLBB</h3>
          <span class="autumn">&nbsp;가을 웜톤은 온화한 분위기와 성숙한 느낌을 낸다. 카키, 초코릿, 브라운 계열의 빈티지한 컬러를 소화하기에 적절한 편이다.<br>쨍한 컬러보다는 MLBB나 얼씨 무드가 잘 어울린다.</span>
        </div>
      </div>

      <div class="color">
        <img src="./image/WC_2.png" alt="" class="color-img">
        <div class="color-content">
          <h3>겨울 쿨톤 TIP! 욕심내지 말고 원 포인트!</h3>
          <span class="winter">&nbsp;겨울 쿨톤은 세련되고 도회적인 이미지가 매력적이다.<br>시크한 매력이 돋보이는 피부 톤이기 때문에 여러 가지 색감을 많이 바르면, 인상이 강해 보이고 부담스러운 느낌을 줄 수 있다.</span>
        </div>
      </div>
    </div>
  </section>
  
  <nav class="end">
    © WNC COMPANY Inc.
  </nav>


    <script src="intro2_script.js"></script>
  </body>
</html>