<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>login</title>
    <link href="loginstyle.css" rel="stylesheet" type="text/css" />
    <style>

    </style>
    <script src="https://use.fontawesome.com/releases/v5.2.0/js/all.js"></script>
    <script src="./static/loginscript.js"></script>
  </head>
  <body>
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <section class="login-form">
      <h1>LOGIN</h1>
      <form action="">
        <div class="int-area">
          <input type="text" name="id" id="id" autocomplete="off" required>
          <label for="id">ID</label>
        </div>
        <div class="int-area">
          <input type="password" name="pw" id="pw" autocomplete="off" required>
          <label for="pw">PASSWORD</label>
        </div>
        <div class="btn-area">
          <button id="btn"
          type="submit">로그인</button>
        </div>
      </form>
      <div class="caption">
        <a href="">아이디 찾기</a>
        <a href="">비밀번호 찾기</a>
        <a href="">회원가입</a>
      </div>
    </section>

    <script>
      let id = $('#id');
      let pw = $('#pw');
      let btn = $('#btn');

      $(btn).on('click', function() {
        if($(id).val() == "") {
          $(id).next('label').addClass('warning');
          setTimeout(function() {
            $('label').removeClass('warning');
          },1500);
        }
        else if($(pw).val() == "") {
          $(pw).next('label').addClass('warning');
          setTimeout(function() {
            $('label').removeClass('warning');
          },1500);
        }
      });
    </script>

    <div class="main">
      <div class="title">
        <a href="">Warm&Cool</a>
      </div>

      <nav class="nav-info1">
        <i class="far fa-comment-alt"></i>
        <a href="">소개</a>
      </nav>

      <nav class="nav-info2">
        <i class="fas fa-user-friends"></i>
        <a href="">로그인</a>
      </nav> 

      <nav class="nav-items">
        <a href="">퍼스널컬러란?</a>
        <a href="">웜톤</a>
        <a href="">쿨톤</a>
        <a href="">셀프진단</a>
        <a href="">오늘의추천</a>
      </nav>   
    <script src="loginscript.js"></script>
  </body>
</html>