<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="signup.css" />
    <title>회원가입</title>
</head>
<body>
    <div class="main">
        <div class="title">
          <a href="home">Warm&Cool</a>
        </div>
  
        <nav class="nav-info1">
          <i class="far fa-comment-alt"></i>
          <a href="">소개</a>
        </nav>
  
        <nav class="nav-info2">
          <i class="fas fa-user-friends"></i>
          <a href="login">로그인</a>
        </nav> 
  
        <nav class="nav-items">
          <a href="">퍼스널컬러란?</a>
          <a href="">웜톤</a>
          <a href="">쿨톤</a>
          <a href="">셀프진단</a>
          <a href="">오늘의추천</a>
        </nav>   
    <form class = "form-design">
        <div class = "section-one">
          <div class = "info">
            <label for="ID">아이디 *</label>
            <input id="id" type="text" name="id"/>
          </div>

          <div class = "info">
            <label for="password">비밀번호 *</label>
            <input id="password" type="password" name="password" />
          </div>

          <div class = "info">
            <label for="confirmPassword">비밀번호 확인 *</label>
            <input id="confirmPassword" type="password" name="confirmPassword"/>
          </div>

          <div class = "info">
            <label for="name">이름 *</label>
            <input id="name" type="text" name="name" />
          </div>

          <div class = "info">
            <label for="Email">이메일 *</label>
            <input id="email" type="email" name="email" />
          </div>
        </div>

        <div class ="section-two">
          <div class = "info"> 
            <label for="Nickname">닉네임 *</label>
            <input id="nickname" type="text" name="nickname" />
          </div>

          <div class = "info">
            <label for="sex">성별 *</label>
            <input id="man" type="checkbox" name="sex" value="man" /> 남자
            <input id="woman" type="checkbox" name="sex" value="woman"/> 여자
          </div>

          <div class = "birth-info">
            <label for="birth">생년월일 *</label>
            <input id="birthYear" type="text" name="year"/>
            <select id="birthMonth" name ="month">
              <option>MM</option>
              <option>01</option>
              <option>02</option>
              <option>03</option>
              <option>04</option>
              <option>05</option>
              <option>06</option>
              <option>07</option>
              <option>08</option>
              <option>09</option>
              <option>10</option>
              <option>11</option>
              <option>12</option>
            </select>
            <select id="birthDay" name="day">
              <option>DD</option>
              <option>01</option>
              <option>02</option>
              <option>03</option>
              <option>04</option>
              <option>05</option>
              <option>06</option>
              <option>07</option>
              <option>08</option>
              <option>09</option>
              <option>10</option>
              <option>11</option>
              <option>12</option>
              <option>13</option>
              <option>14</option>
              <option>15</option>
              <option>16</option>
              <option>17</option>
              <option>18</option>
              <option>19</option>
              <option>20</option>
              <option>21</option>
              <option>22</option>
              <option>23</option>
              <option>24</option>
              <option>25</option>
              <option>26</option>
              <option>27</option>
              <option>28</option>
              <option>29</option>
              <option>30</option>
              <option>31</option>
            </select>
            <div class="text-box">
              <p>"당신한테 제일 어울리는 색깔이 세상에서 가장 아름다운 색깔이다."</p>
              <h4>- 코코 샤넬 </h4>
            </div>
          </div>
        </div>

        <div class="submit">
          <input type="submit" value="회원가입" name="submit" id="subnitBtn"/>
        </div>
      </form>
</body>
</html>