<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>WarmtonFeed</title>
    <link href="wFeedstyle.css" rel="stylesheet" type="text/css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js">
  	</script>
    <script src="https://use.fontawesome.com/releases/v5.2.0/js/all.js">
	  </script>
  </head>
  <body>
    <div id="header"> 
      <div class="title">
		    <a onclick="location.href='home'">Warm&Cool</a>
	    </div>
      
      <div class="nav">
		    <nav class="info-icon">
          <a onclick="location.href='info'"><i class="fas fa-user-friends fa-lg" style="color:black"></i></a>
        </nav> 
        <nav class="alarm-icon">
          <a onclick="location.href='intro1'"><i class="far fa-comment-alt fa-lg" style="color:black"></i></a>
        </nav>
      </div>
    </div> 

    <div id="category"> 
      <center>
      <div class="ton_box">
        <div class="warm">
          <B>웜톤</B>
        </div>
        <div class="memNum">
          
        </div>
        users
      </div>
        <ul> 
          <div class="ctg">
            <div class="feed">
              <i class="fas fa-lightbulb"></i>
              <a onclick="location.href='warmFeed'" style="color:#FF1493"><B>Feed</B></a><B><br><br>
            </div>
            <div class="popular">
              <i class="fas fa-thumbs-up"></i>
              <a onclick="location.href='warmPopular'"><B>Popular</a><br><br>
            </div>
            <div class="media">
              <i class="fas fa-images"></i>
              <a onclick="location.href='warmMedia'"><B>Media</a><br><br>
            </div>
            <div class="ootd">
              <i class="fas fa-tshirt"></i>
              <a onclick="location.href='warmOotd'"><B>OOTD</a>
            </div>
          </div>
       </ul>
    </center> 
    </div> 
    
    <div id="post"> 
      <center>
      <div class="post_box">
        <form name="uploadForm" method="post" action="uploadFile" enctype="multipart/form-data">
            <table>
                <tr>
                  <B>포스트 쓰기</B>
                  <p><input type="text" id="post" name="post" placeholder="게시판에 남겨보세요..."></p>
                </tr>
            </table>
            <div class="image">
              <i class="far fa-image fa-lg"></i><input id="image" type="file" id="file" name="file">&nbsp&nbsp
            </div>
            <button type="submit">완료</button>
        </form>
      </div>
      <br><br>
      {{ #resultList }} <!-- 임의 변수 -->
      <div class="post1">
        <div class="postInfo">
          <i class="fas fa-user"></i>&nbsp
          <div class="info2">
            {{id}}<br>
            {{wdate}}
          </div>
        </div>
        <div class="content">
          <img id="asd" src="/gogo/{{origin_name}}">
         	{{post}}
        </div>
        <hr class="line">
        <div class="icon">
          <div class="thumb">
            <i class="fas fa-thumbs-up"></i>
          </div>
          <div class="comment">
            <i class="fas fa-comments"></i>
          </div>
        </div>
        <hr class="line">
      </div>
      <br><br>
      {{ /resultList }}
    </center> 
    </div> 

    <div id="info"> 
      <center>
         <div class="info_box2">
          My Personal Color is...<br>
          <div class="color">
            <B>Warm</B>
          </div>
        </div>

        <div class="policy">
        <br>개인정보처리방침&nbsp&nbsp이용약관<br>
        서비스운영정책&nbsp
        <a onclick="location.href='intro1'" >퍼스널컬러소개</a><br><br>
        </div>

        <div class="inc_box">
          © WarmNCool COMPANY Inc.
        </div>
        <br>
        <div class="shopping_box">
          <b>가장 먼저 만나는 나만의 쇼핑</b><br><br>
          <a onclick="location.href='warmOotd'"><i class="fas fa-cart-plus fa-3x"></i></a>
        </div>
      </center>
    </div> 
    <script src="wFeedscript.js"></script>
  </body>
</html>