body{
	line-height: 1.5;
	font-family: sans-serif;
}

*{
  background-color: rgb(245, 255, 255);
	margin:0;
	box-sizing: border-box;
}

.container{
	max-width: 1170px;
	margin:auto;
}

.row{
	display: flex;
	flex-wrap: wrap;
  margin-top: 20px;
}

img{
	max-width: 100%;
	vertical-align: middle;  
  margin-top: 20px;
}

/*.gallery*/
.gallery{
	width: 100%;
	display: block;
	min-height: 100vh;
	padding: 50px 0;
}

.gallery .gallery-filter{
	padding: 0 15px;
	width: 100%;
	text-align: center;
	margin-bottom: 20px;
}

.gallery .gallery-filter .filter-item{
	color: black;
	font-size: 18px;
	text-transform: uppercase;
	display: inline-block;
	margin:0 10px;
	cursor: pointer;
	border-bottom: 2px solid transparent;
	line-height: 1.2;
	transition: all 0.3s ease;
}

.gallery .gallery-filter .filter-item.active{
	color: #ff9800;
	border-color : #ff9800;
}

.gallery .gallery-item{
	width: calc(100% / 4);
	padding: 15px;
}

.gallery .gallery-item-inner img{
	width: 88%;
}

.gallery .gallery-item.show{
	animation: fadeIn 0.5s ease;
}

@keyframes fadeIn{
	0%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}

.gallery .gallery-item.hide{
	display: none;
}

/*responsive*/
@media(max-width: 991px){
	.gallery .gallery-item{
		width: 50%;
	}
}

@media(max-width: 767px){
    .gallery .gallery-item{
		width: 100%;
	}	
	.gallery .gallery-filter .filter-item{
		margin-bottom: 10px;
	}
}

 /* 스크롤 바 넓이 */
::-webkit-scrollbar{width: 9px;}
/* 스크롤 바 기본 색상 */
::-webkit-scrollbar-track {background-color:rgb(209, 209, 228); border-radius: 10px;}
/* 스크롤 구간 배경 색상 */
::-webkit-scrollbar-thumb {background-color:rgb(131, 159, 253); border-radius: 10px;} 
/* 스크롤 바 위에 마우스 올렸을 때(hover) 색상 */
::-webkit-scrollbar-thumb:hover {background-color: rgb(109, 119, 252); } 
/* 스크롤 상하단 버튼 넓이와 색상 */
::-webkit-scrollbar-button:start:decrement, ::-webkit-scrollbar-button:end:increment {
width:16px; height:16px; background-color: rgb(112, 122, 216);
} 