@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100&family=PT+Serif:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Noto+Sans+KR:wght@100&family=PT+Serif:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Mate+SC&family=Noto+Sans+KR:wght@100;400&family=Stylish&display=swap');

body {
  background-color: rgb(230, 255, 255);
  margin-top: 50px;
  margin-left: 50px;
  float: left;
}

.info_box1 { 
  width: 200px;
  height : 70px;
  padding-top : 10px;
  color: black;
  }

.info_box2 { 
  font-family: 'PT Serif', serif;
  border: 1px solid; border-radius: 5%;
  width: 200px;
  height : 70px;
  padding-top : 10px;
  color: black;
  }

.color {
  font-family: 'Dancing Script', cursive;
  padding: 10px;
  font-size: 30px;
}

.inc_box { 
  border: 1px solid;
  width: 180px;
  background:white;
  font-size: 3px;
  color: black;
}
  
.policy {
  font-family: 'Noto Sans KR', sans-serif;
  color: grey;
  font-size: 12px;
}
