@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Parisienne&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=ZCOOL+XiaoWei&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  height: 100vh;
  background: url("myInfo.jpg") no-repeat center;
  background-size: 100% 80%;
  display: flex;

}

/*죄측 상단 타이틀*/
.title a {
  font-family: 'Cinzel', serif;
  position: absolute;
  font-size: 70px; color: black;  
  text-decoration: none;
  margin-left: 10px;
}
/*===================================================*/

/*우측상단 미니배너 아이콘*/
.info-icon a {
  position: absolute;
  top: 15px;
  right: 0px;
  width: 90px;
  padding: 10px;
}

.alarm-icon a {
  position: absolute;
  top: 15px;
  right: 0px;
  width: 45px;
  padding: 10px;
}

/*===================================================*/

.profile-card {
  width: 400px;
  text-align: center;
  border-radius: 8px;
  overflow: hidden; 
  position: absolute; left: 50%; top: 50%;
  transform: translate(-50%, -50%);
}

.card-header {
background: #2c3a47;
padding: 60px 40px;
}

.pic {
  display: inline-block;
  padding: 8px;
  background: linear-gradient(130deg, #73b9ff, #e66767);
  margin: auto;
  border-radius: 50%;
  background-size: 200% 200%;
  animation: animated-gradient 2s linear infinite;
}

@keyframes animated-gradient {
  25% {
    background-position: left bottom;
  }
  50% {
    background-position: right bottom;
  }
  75% {
    background-position: right top;
  }
  100% {
    background-position: left top;
  }
}

.pic img {
  display: block;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.name {
  color: #f2f2f2;
  font-size: 28px;
  font-weight: 500;
  margin: 10px 0;
}

.color {
  font-size: 70px;
  color: #e66767;
  font-family: 'Dancing Script', cursive;
  margin-top: 10px;
}

.card-footer {
  background: #f4f4f4;
  padding: 60px 10px;
}

.counts {
  margin-bottom: 50px;
  display: flex;
  align-items: center;
}

.item {
  flex: 1;
  text-transform: uppercase;
  font-size: 13px;
  color: #e66767;
}

.item span {
  display: block;
  color: #2c3a47;
  font-size: 30px;
}

.border {
  width: 1px;
  height: 30px;
  background: #bbb
}

/*************버튼****************/
.btn {
  margin-left: 870px;
  margin-top: 250px;
  z-index: 5;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  width: 160px;
  height: 45px;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  }

.button:hover {
  background-color: rgb(72, 226, 164);
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-7px);
}