@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Parisienne&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=ZCOOL+XiaoWei&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  height: 100vh;
  background: url("myInfoedit.jpg") no-repeat center;
  background-size: 100% 80%;
  display: flex;

}

/*죄측 상단 타이틀*/
.title a {
  font-family: 'Cinzel', serif;
  position: absolute;
  font-size: 70px; color: black;  
  text-decoration: none;
  margin-left: 10px;
}

/*우측상단 미니배너 아이콘*/
.info-icon a {
  position: absolute;
  top: 25px;
  right: 0px;
  width: 90px;
  padding: 10px;
}

.alarm-icon a {
  position: absolute;
  top: 25px;
  right: 0px;
  width: 45px;
  padding: 10px;
}
/*===================================================*/

.profile-edit-card {
  width: 400px;
  text-align: center;
  border-radius: 8px;
  overflow: hidden; 
  position: absolute; left: 50%; top: 50%;
  transform: translate(-50%, -50%);
}

.card__header {
background: #2c3a47;
padding: 30px 40px;
font-size: 35px;
color: #e66767;
font-family: 'Dancing Script', cursive;
color: #fff;
}

.profile-input__aligner{
  display: flex;
  align-items: center;
  flex-direction: row;
}

.profile-input__aligner label{
 flex : 0 0 auto ;
 width: 80px;
 text-align: left;font-size: 14px;
}

.card__footer {
  background: #f4f4f4;
  padding: 30px 40px;
}

.profile-button{
  padding: 10px;
  width: 200px;
  margin-top: 30px;
  background: #e66767;
  color: #fff;
  border: 0;
  border-radius: 10px;
  transition: all ease 0.3s;
  border:1px solid #e66767
}

.profile-button:hover{
  background: #fff;
  color: #e66767;
  cursor: pointer;
}

.profile-input {
  padding: 10px;
  display: block;
  margin: 10px 0;
  width: 100%;
  border:#ddd
}
